<launch>
  <group ns ="ns1">
	<include file="$(find velodyne_pointcloud)/launch/VLP16_points_ns1.launch"/>
	  <node pkg="slam_toolbox" type="localization_slam_toolbox_node" name="slam_toolbox" output="screen">
	      <rosparam command="load" file="$(find kimm_husky_navigation)/config/mapper_params_localization_ns1.yaml" />
	  </node>
         <group ns ="husky">
	    <group ns ="move_base">
	      <include file="$(find kimm_husky_navigation)/launch/move_base_ns1.launch"/>
	    </group>
    </group>
  </group>
    
	<include file="$(find realsense2_camera)/launch/ns1_rs_camera.launch"/>
	<include file="$(find aruco_mapping)/launch/ns1_aruco_mapping.launch"/>
	
</launch>
