<launch>
  <group ns ="ns2">
	<include file="$(find velodyne_pointcloud)/launch/VLP16_points_ns2.launch"/>
	  <node pkg="slam_toolbox" type="async_slam_toolbox_node" name="slam_toolbox" output="screen">
	    <rosparam command="load" file="$(find kimm_husky_navigation)/config/mapper_params_online_async_ns2.yaml" />
	  </node>
         <group ns ="husky">
	    <group ns ="move_base">
	      <include file="$(find kimm_husky_navigation)/launch/move_base_ns2.launch"/>
	    </group>
    </group>
  </group>
    
	<include file="$(find realsense2_camera)/launch/ns2_rs_camera.launch"/>
	<include file="$(find aruco_mapping)/launch/ns2_aruco_mapping.launch"/>
	
</launch>
