<?xml version="1.0" ?>
<launch>

  <arg name="robot_ip" default="192.168.10.102" />
  <arg name="load_gripper" default="true" />
  
  <param name="robot_group" type="string" value="ns0"/>
  <group ns ="ns0">
    <param name="issimulation" type="bool" value="false"/>

    <include file="$(find franka_control)/launch/franka_control.launch" >
      <arg name="robot_ip" value="$(arg robot_ip)" />
      <arg name="load_gripper" value="$(arg load_gripper)" />
    </include>
    
    <param name="urdf_path" type="string" value="$(find husky_description)"/>
    <param name="urdf_name" type="string" value="/husky_single/husky_panda_hand_free.urdf"/>
    <param name="gui_urdf_path" type="string" value="$(find husky_description)"/>
    <param name="gui_urdf_name" type="string" value="/husky_single/husky_panda_rviz_ns0.urdf"/>
    <arg name="description_name"           default="robot_description"/>
    <arg name="description_file"           default="$(find husky_description)/husky_single/husky_panda_rviz_ns0.urdf"/>
    <param name="$(arg description_name)" textfile="$(arg description_file)"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true">
			<param name="publish_frequency" value="100" />
			<param name="rate" value="100" />
		</node>

    <include file="$(find velodyne_pointcloud)/launch/VLP16_points_ns0.launch"/>
    
    
    <rosparam command="load" file="$(find kimm_action_manager)/config/kimm_action_manager.yaml" />
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"  args="basic_husky_franka_controller"/>
    <group ns ="husky">
    <group ns ="move_base">
      <include file="$(find kimm_husky_navigation)/launch/move_base_ns0.launch"/>
    </group>
    </group>
  </group>
    
    <include file="$(find kimm_husky_viz)/launch/view_robot_ns0.launch"/>
</launch>
